body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Позволяет прокрутку */
    min-height: 100vh; /* Минимальная высота страницы, можно настроить по необходимости */
    overflow-y: auto; /* Включает вертикальную прокрутку */
}


#container {
    width: 50%;
    height: 100vh; /* Занимает 50% высоты окна */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none;
    margin-top: 20vh; /* Уменьшенный отступ */
}

canvas {
    background-color: transparent; /* Прозрачный канвас */
    width: 100%; /* Занимает 100% ширины окна */
    height: 100%; /* Занимает 50% высоты окна */
}

@media (max-width: 768px) {
    #container {
        margin-top: 10vh; /* Уменьшаем отступ для меньших экранов */
    }
    canvas {
        height: 80%; /* Уменьшаем высоту канваса для мобильных устройств */
    }
}

@media (min-width: 769px) {
    #container {
        margin-top: 20vh; /* Увеличиваем отступ для больших экранов */
    }
}
