body, html {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(32 37 42 / 94%);
        }

        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            pointer-events: none;
            z-index: 0; /* Ниже чем #ring, но выше остального контента */
        }
        /* Контейнер для iframe */
        #canvas-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(min(100vw, 100vh)); /* Пропорциональная ширина */
            height: calc(min(100vw, 100vh)); /* Пропорциональная высота */
            border: none;
            pointer-events: none;
        }

        /* iframe */
        #ring {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
            border: none;
            position: absolute;
            pointer-events: none; /* Скрытие для кликов, пока не активно */
            opacity: 0; /* По умолчанию невидим */
        }

        #construct {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
            border: none;
            position: absolute;
            opacity: 0; /* По умолчанию невидим */
            pointer-events: none;
            background-color: rgba(0, 0, 0, 0.5);
        }

        #controls {
            position: absolute;
            top: calc(50% + 150px); /* Смещаем вниз на половину высоты #mobile (300/2) */
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border-radius: 8px;
            pointer-events: none;
            opacity: 0;
        }

        label {
            color: white;
            display: block;
            margin-bottom: 5px;

        }