body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

/* Оверлей с плавным затемнением */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 3; /* Ниже чем #ring, но выше остального контента */
    background-color: rgba(0, 0, 0, 0); /* Прозрачный по умолчанию */
    opacity: 0;
    transition: 
        opacity 1.9s ease-in-out,
        background-color 1.9s ease-in-out;
}

/* Активный оверлей — полупрозрачный черный */
#overlay.active {
    pointer-events: auto; /* Позволяет ловить клики */
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#canvas-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(min(100vw, 100vh));
    height: calc(min(100vw, 100vh));
    border: none;
    pointer-events: none;
    z-index: 4;
}

#ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.9s ease-in-out;
}

#ring.active {
    pointer-events: auto;
    opacity: 1;
}

#phaser {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 1.9s ease-in-out;
}

#construct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: black;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.9s ease-in-out;
}


#controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 240px));
    text-align: center;
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1.9s ease-in-out;
}

#controls.active {
    pointer-events: auto;
    opacity: 1;
}

@media screen and (orientation: landscape) and (hover: none) and (pointer: coarse) {
    #controls {
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% + 230px), -50%);
        flex-direction: column;
    }

    #radiusSlider {
        transform: rotate(270deg);
        width: 200px;
        height: auto;
    }
}

audio {
    display: none;
}

#mute-toggle,
#back-to-stage1 {
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: transparent;
    color: #be0000;
    cursor: pointer;
    z-index: 5;
    filter: brightness(1.1);
}

#mute-toggle {
    left: 50px;
}

#back-to-stage1 {
    left: 10px;
}
