body, html {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(32 37 42 / 94%);
        }

        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            pointer-events: none;
            z-index: 0; /* Ниже чем #ring, но выше остального контента */
        }
    
        #canvas-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(min(100vw, 100vh)); /* Пропорциональная ширина */
            height: calc(min(100vw, 100vh)); /* Пропорциональная высота */
            border: none;
            pointer-events: none;
        }
        
        #radiusSlider {
            pointer-events: none;
        }
        
        #ring {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
            border: none;
            position: absolute;
            pointer-events: none; /* Скрытие для кликов, пока не активно */
            opacity: 0; /* По умолчанию невидим */
        }

        #construct {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
            border: none;
            position: absolute;
            opacity: 0; /* По умолчанию невидим */
            pointer-events: none;
            background-color: black;
        }
    
        #controls {
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% + 240px));
            position: absolute;
            text-align: center;
            background: rgba(0, 0, 0, 0);
            padding: 10px;
            border-radius: 8px;
            pointer-events: none;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        @media screen and (orientation: landscape) and (hover: none) and (pointer: coarse) {
            #controls {
                top: 50%;
                left: 50%;
                transform: translate(calc(-50% + 230px), -50%); /* Смещение вправо от центра */
                flex-direction: column; /* Ползунок вертикально */
            }

            #radiusSlider {
                transform: rotate(270deg); /* Повернуть ползунок вертикально */
                width: 200px;
                height: auto;
            }
        }


        label {
            color: white;
            display: block;
            margin-bottom: 5px;
        }