   html, body {
            height: 100%;
            margin: 0;
            overflow: hidden; /* Запретить прокрутку на уровне body */
        }
        canvas {
            display: block;
        }
        .marker {
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: rgb(62 52 58 / 88%); /* Полупрозрачный красный маркер */
            border-radius: 50%;
            cursor: pointer;
            transition: opacity 0.3s;
        }
        .marker.disabled {
            pointer-events: none; /* Отключить события */
            opacity: 0.5; /* Сделать маркер полупрозрачным */
        }
        #iframeContainer {
            display: none;
            position: fixed;
            top: 50%; /* Центрируем по вертикали */
            left: 50%; /* Центрируем по горизонтали */
            transform: translate(-50%, -50%); /* Смещаем на половину ширины и высоты для точного центрирования */
            width: 40vw; /* Ширина окна iframe (уменьшена) */
            height: 40vh; /* Высота окна iframe (уменьшена) */
            background-color: rgba(0, 0, 0, 0.75);
            justify-content: center;
            align-items: center;
            z-index: 10;
        }
        #iframePopup {
            width: 100%;
            height: 100%;
            border: none;
            overflow: hidden; /* Убираем скролл внутри iframe */
        }